
body {
    margin: 0;
    background-color: #111;
    width: 100vw;
    height: 100vh;
}

#view-modal {
    /* height: calc(100vh - 80px); */
    height: 100%;
    /* height: 800px; */
    box-sizing: border-box;
    background-color: blanchedalmond;
}

#menu {
    /* height: 50px; */
    width: 100%;
    text-align: center;
}

#menu-img-strip {
    width: 100%;

    vertical-align: middle;
}

#opening-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#opening {
    width: 100vw;
    position: relative;

}

/* #opening-pin {
    position: relative;
} */

#opening img {
    width: 100%;
    left: 0;
    top: 0;
    display: block;
    z-index: -1;
    /* transition: opacity 0.5s ease-in-out; */
}

/* #sea-img:hover {
    opacity: 0;
} */
#incarnadine-img {
    position: absolute;
}

.quote {
    position: absolute;
    font-family: Garamond, 'Times New Roman', Times, serif;
    color: white;
    text-shadow: -2px 0 #333, 0 2px #333, 2px 0 #333, 0 -2px #333;
    font-weight: 550;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    top: 15%;
    font-size: 2.5vw;
    width: 80%;
    z-index: 3;
}

#quote-incarnadine {
    opacity: 0;
}


#text-incarnadine {
    /* transition: background-image 3s ease-in-out; */
    transition: color 0.5s ease-in-out, text-shadow 0.5s ease;


}

.text-incarnadine-red {
    text-shadow: none;
    /* background: linear-gradient(to right, rgb(231, 29, 29), rgb(196, 9, 9) 50%, rgb(231, 29, 29));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    color: rgb(231, 29, 29);

}

.trigger {
    min-height: 1px;
    position: absolute;
}
#triggerTurnRed {
    /* top: 0; */
}
#triggerChangeQuote {
    /* top: 200px; */
}

#opening-pin {
    position: relative;
}