
body {
    margin: 0;
    background-color: #111;
    /* background-color: blanchedalmond; */

    /* width: 100vw; */
    /* width: 100%; */
    height: 100vh;
}
/*
#anti-scroll-wrapper {
    overflow-x: hidden;
    position: relative;
    height: 100vh;
} */

@media only screen and (max-device-width: 812px) and (orientation: portrait) {


    #opening img {
        width: auto !important;
        left: 50%;
        transform: translateX(-40%);
    }

    #opening-pin {
        height: 100vh;
        /* incredible bug in the above line.. I didn't set height to vh, causing the image to disappear */
        width: 100vw;
        overflow-x: hidden;
    }

    #sea-img {
        height: 100%;
        width: auto;
    }

    #incar-img-wrapper {
        height: 100%;
        width: auto;
    }

    #incarnadine-img {
        height: 100%;
        width: auto;
    }

    .quote {
        font-size: 8vw !important;
    }

}

#view-modal {
    /* height: calc(100vh - 80px); */
    height: 100%;
    /* height: 800px; */
    box-sizing: border-box;
    background-color: blanchedalmond;
    position: relative;
    z-index: 1;
    opacity: 0;
    overflow-x: hidden;
    /* margin-top: -63px; */

}

#menu {
    /* height: 50px; */
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 3;
    display: none;
    top: 0;
    /* opacity: 0; */
}
.menu-show {
    display: block !important;
    /* opacity: 1 !important; */

}

#menu-img-strip {
    width: 100%;
    vertical-align: middle;
}

#opening-wrapper {
    /* width: 100vw; */
    height: 100vh;
    position: relative;
}

#opening {
    /* width: 100vw; */
    position: relative;


}

#opening-pin {
    /* background-color: blanchedalmond; */
    /* transition: background-color 0.5s ease-in-out; */

}

#opening img {
    width: 100%;
    left: 0;
    top: 0;
    display: block;
    z-index: -1;
    /* transition: opacity 0.5s ease-in-out; */
}

/* #sea-img:hover {
    opacity: 0;
} */
#incar-img-wrapper {
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    /* background-color: blanchedalmond; */
    z-index: -4;

}
#incarnadine-img {
    position: relative;

}

#quote-container {
    position: absolute;
    top: 15%;
    width: 100%;

}

#quote-hide-scaled-quote {
    position: relative;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

.quote {
    font-family: Garamond, 'Times New Roman', Times, serif;
    color: white;
    text-shadow: -2px 0 #333, 0 2px #333, 2px 0 #333, 0 -2px #333;
    font-weight: 550;
    font-size: 2.5vw;
}

#quote-wash {
    position: relative;
    z-index: 4;
}

#quote-incarnadine {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}


#text-incarnadine {
    transition: color 0.5s ease-in-out, text-shadow 0.5s ease;
    display: inline-block;
}

.text-incarnadine-red {
    text-shadow: none;
    /* background: linear-gradient(to right, rgb(231, 29, 29), rgb(196, 9, 9) 50%, rgb(231, 29, 29));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    color: rgb(231, 29, 29);

}

.trigger {
    min-height: 1px;
    position: absolute;
}
#triggerTurnRed {
    /* top: 0; */
}
#triggerChangeQuote {
    /* top: 200px; */
}

#opening-pin {
    position: relative;
}